{% extends "client/layout_client.html" %}
{% block body %}
<div class="container" style="max-width:500px;">

    <h2 class="mt-3 mb-3">Modifier mon profil</h2>

    <div class="card">
        <div class="card-body">
            <form method="post" action="/client/coordonnee/edit">

                <div class="mb-3">
                    <label class="form-label fw-bold" for="login">Login :</label>
                    <input class="form-control" id="login" type="text" required name="login"
                           value="{{ utilisateur.login }}">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" for="nom">Nom :</label>
                    <input class="form-control" id="nom" type="text" required name="nom"
                           value="{{ utilisateur.nom }}">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" for="email">Email :</label>
                    <input class="form-control" id="email" type="email" required name="email"
                           value="{{ utilisateur.email }}">
                </div>

                <button class="btn btn-success" type="submit">Valider</button>
                <a href="/client/coordonnee/show" class="btn btn-secondary ms-2">Annuler</a>
            </form>
        </div>
    </div>

</div>
{% endblock %}
